.form--search {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3.75rem;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.625rem;
    color: #232323;
    font-size: 1.125rem;
    text-align: center;
    cursor: pointer;
  }
}

.search-result {
  &__message {
    margin-bottom: 1.5rem;

    strong {
      font-weight: bold;
    }
  }
}
