.video-info {
  &__desc {
    font-size: 1rem;
  }
  small {
    position: relative;
    display: inline-block;
    font-size: 0.825rem;
    color: #ccc;
  }
  &__published-date {
  }
  &__owner {
    padding-left: 0.825rem;
    margin-left: 0.825rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 1px;
      height: 0.825rem;
      background-color: #ccc;
      transform: translateY(-50%);
    }

    .userpage {
      color: #e1ffe1;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.video-owner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  &__edit {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: #232323;
    background-color: #e1ffe1;
  }
}

.btn-delete {
  cursor: pointer;

  &--video {
    padding: 0.25rem 0.5rem;
    color: #e1ffe1;
    border: 1px solid #e1ffe1;
    border-radius: 0.25rem;
  }

  &--comment {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
