.comments {
  margin-top: 2rem;

  &__list {
    margin-top: 1.5rem;

    & > li {
      position: relative;
      padding-block: 0.5rem;
      padding-inline: 2rem;
      border: 1px solid #666;
      border-radius: 0.5rem;

      .fas.fa-comment {
        position: absolute;
        top: 0.8rem;
        left: 0.5rem;
      }
    }

    li ~ li {
      margin-top: 0.5rem;
    }
  }

  &__content {
  }
  &__meta {
    margin-top: 0.5rem;
    color: #ccc;
    font-size: 0.825rem;

    span {
      position: relative;
      display: inline-block;
    }
  }

  &__user {
    position: absolute;
    margin-left: 0.825rem;
    padding-left: 0.825rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 1px;
      height: 0.825rem;
      background-color: #ccc;
      transform: translateY(-50%);
    }
  }
}
