form {
  max-width: 26.25rem;
  margin-inline: auto;

  &:not(.form--search) {
    padding: 1.5rem 1rem;
    // background-color: rgba($color: #fff, $alpha: 0.7);
    border: 1px solid rgba($color: #ccc, $alpha: 0.5);
    border-radius: 0.625rem;
  }
}

.form {
  label {
    position: relative;
    display: inline-block;
    font-size: 0.85rem;
    margin-bottom: 0.625rem;

    &::after {
      position: absolute;
      top: 0;
      right: -0.5rem;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 50%;
      background-color: #ff4830;
    }
  }

  &__item {
    & ~ .form__item {
      margin-top: 1.25rem;
    }

    &.required {
      label:after {
        content: "";
      }
    }
  }
}

input[type="submit"],
.social__btn {
  display: block;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: #232323;
  border-color: $point--color;
  border: none;
  background-color: $point--color;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center !important;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.ipt {
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 1rem;
  color: #232323;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: #aaa;
  }

  &--submit {
    margin-top: 1.875rem;
  }
}

.social-login {
  margin-top: 0.5rem;

  &__btn {
    font-size: 0.875rem;
  }
}
