.video-container {
  position: relative;
  width: 100%;

  video {
    height: 100%;
  }

  .controller {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.625rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 0.625rem;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-inline: auto;
    padding: 0.5rem;
    border-radius: 0.625rem;
    background-color: #0f1117;
    transition: opacity 0.5s ease-in-out;
    box-sizing: border-box;

    &.showing {
      opacity: 1;
    }

    &__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__play-btn {
      margin-inline: 1rem;
    }

    &__time {
      font-size: 0.75rem;
    }

    &__volume {
      display: flex;
      align-items: center;

      span {
        margin-left: 0.5rem;

        i {
          font-size: 1.25rem;
        }
      }
    }
  }
}
