extends base.pug

block content
  h4 Change Title of Video
  form(method="POST") 
    input(type="text", name="vlog_title", placeholder="Video Title", value=video.vlog_title, required)
    input(type="text", name="vlog_desc", minlength=30, placeholder="description", value=video.vlog_desc, required)
    input(type="text", name="hashtags", placeholder="Hashtags, seperated by comma.", value=video.hashtags.join(), required)
    input(value="Save", type="submit")