extends base

block content 
    form(method="POST") 
        input(type="email", name="user_email", placeholder="your email", value=loggedInUser.user_email, required) 
        input(type="text", name="user_name", placeholder="your unique name", value=loggedInUser.user_name, required) 
        input(type="text", name="user_location", placeholder="your location (optional)", value=loggedInUser.user_location) 
        input(type="submit" value="Update")  