extends base.pug

block content
  h4 Change Title of Video
  form(method="POST") 
    input(name="vlog_title", placeholder="Video Title", type="text", value=video.title, required)
    input(value="Save", type="submit")