extends base
include mixins/video

block content 
  if videos.length !== 0
    ul.videolist
      li
        each item in videos 
          +video(item)
    
  else
    div.nodata 
      p â—Sorry, nothing found.
