extends base
include mixins/video

block content 
  if videos.length !== 0
    ul.videolist
      each item in videos 
        li
          +video(item)
    
  else
    div.nodata 
      p â—Sorry, nothing found.
