extends base
include mixins/video

block content 
  main.section.section--home 
    h2.section__title.blind Trending
    if videos.length !== 0
      ul.videolist.videolist--home
        each item in videos 
          li
            +video(item)
      
    else
      div.no-data 
        p Welcome❗ Fresh New Sever :)
