extends base

block content 
    section.section.section--login
        h2.section__title LOGIN 

        if errorMessage
            span=errorMessage
        form(method="post").form
            div.form__item
                label(for="user_name") 유저이름(user name)
                input(type="text", id="user_name", name="user_name", placeholder="your unique name", required).ipt 
            div.form__item
                label(for="user_password") 비밀번호(password)
                input(type="password", id="user_password", name="user_password", placeholder="your password", required).ipt 
            input(type="submit" value="Login").ipt.ipt--submit  

            include partials/social-login

        div.auth-switch 
            span Don't have any Account?
            a(href="/join") Create One Now &rarr;
        