extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="post")
        input(type="text", name="user_name", placeholder="your unique name", required) 
        input(type="password", name="user_password", placeholder="your password", required) 
        input(type="submit" value="Login")  

        include partials/social-login

    div.auth-switch 
        span Don't have any Account?
        a(href="/join") Create One Now &rarr;
        