extends base

block content 
    if errMessage
        span=errMessage
    form(method="POST")
        input(placeholder="Name", name="member_name", type="text", required)
        input(placeholder="Password", name="member_password", type="password", required)
        input(type="submit", value="Login")
    hr
    div 
        span Don't have an account? 
        a(href="/join2") Create one now &rarr;