extends base
include mixins/video

block content 
    form(method="get").search__form
        input(type="text", name="keyword", placeholder="Search By title") 
        button 
            i.fas.fa-search
    
    if videos.length !== 0
        ul.videolist
            li
                each video in videos 
                    +video(video)
    else 
        div.no-data
            p No videos Found.
            