header.header
    h1.header__logo
        a(href="/") 
            i.fa-solid.fa-gamepad
        
    nav.header__nav 
        button(type="button")#menuBtn.btn-menu 
            i.fa-solid.fa-bars

        if loggedInUser.avatar_url
            a(href=`/users/${loggedInUser._id}`)
                img.header__avatar(src="/" + loggedInUser.avatar_url, alt="")

        div#gnb.gnb 
            button(type="button")#closeBtn.close-menu
                i.fa-solid.fa-xmark 

            ul.gnb__list
                li 
                    a(href="/search") 
                        i.fas.fa-search 
                        | Search
                if loggedIn
                    li 
                        a(href="/videos/upload") Upload Video
                    li
                        a(href=`/users/${loggedInUser._id}`) My Profile
                    li 
                        a(href="/users/edit") Edit #{loggedInUser.user_name}의 프로필 
                    li 
                        a(href="/logout") Log out
                else 
                    li 
                        a(href="/login") Login 
                    li 
                        a(href="/join").header__btn Join 
