extends ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(type="password", name="prev_password", placeholder="Previous Password")
        input(type="password", name="new_password", placeholder="New Password")
        input(type="password", name="new_password_confirm", placeholder="New Password Confirmation")
        input(type="submit", value="Change Password") 