extends ../base

block content 
    form(method="post")
        input(type="password", placeholder="Previous Password")
        input(type="password", placeholder="New Password")
        input(type="password", placeholder="New Password Confirmation")
        input(type="submit", value="Change Password") 