extends ../base

block content 
    section.section
        h2.section__title Change Password 

        div.change-password
            if errorMessage 
                span=errorMessage
            form(method="post").form.form--change-password
                div.form__item
                    label(for="prev_password") 현재 비밀번호(current password) 
                    input(type="password", id="prev_password", name="prev_password", placeholder="Current Password").ipt
                div.form__item
                    label(for="new_password") 새 비밀번호(new password)
                    input(type="password", id="new_password", name="new_password", placeholder="New Password").ipt
                div.form__item
                    label(for="new_password_confirm") 새 비밀번호 확인
                    input(type="password", id="new_password_confirm", name="new_password_confirm", placeholder="New Password Confirmation").ipt
                input(type="submit", value="Change Password").ipt.ipt--submit 