extends ../base
include ../mixins/video

block content 
    section.section.section--myprofile
        h2.section__title.blind #{user.user_name} Profile 

        div.my-profile
            figure.avatar 
                img(src=`/${user.avatar_url}`, alt="")
            
            p.my-profile__name=user.user_name

            if user.videos.length !== 0
                ul.videolist 
                    each video in user.videos 
                        li 
                            +video(video)
            else
                div.no-data 
                    p Sorry nothing found.